<div class="col-12">
  <mat-accordion>
    <mat-expansion-panel [disabled]="true" [expanded]="true" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-grid-list class="col-12" rowHeight="48px" cols="10">
          <mat-grid-tile [colspan]="10"><b>{{movieListTitle}}</b></mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel-header>
      <div>
        <mat-paginator [length]="TotalPages" [pageSize]="pageSize" (page)="handlePageEvent($event)" aria-label="Select page">
        </mat-paginator>
      </div>
      <div>
        <app-listing-item *ngFor="let item of movieListArray?.controls; let i = index;" [isOpened]="expandedIndex===i" [formItem]="GetItem(i)" (onOpen)="open($event)" (onClose)="close($event)" [index]="i"></app-listing-item>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
